.bookmark-header {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.bookmark-contents {
  height: 80rem;
  width: 100%;
  margin-top: 2.5rem;
}

.bookmark-list {
  width: 100%;
  height: 100%;
  padding: 1rem 1.6rem 0 1.6rem;
}

.bookmark-list h2 {
  margin-bottom: 1.8rem;
  font-size: 1.6rem;
}

.bookmark__item {
  width: 100%;
  height: 7rem;
  background-color: var(--background-color);
  margin-bottom: 2.5rem;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
  border-radius: 0.8rem;
  display: flex;
  padding: 1rem 1.5rem 1rem 1.5rem;
  align-items: center;
  transition: all 0.2s;
}

.bookmark__item:hover {
  background: rgb(220, 221, 221);
  color: #3a61be;
  cursor: pointer;
}

.bookmark__info {
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-family: 'Outfit';
  font-weight: 600;
}

.bookmark__info address {
  margin-top: 1rem;
  font-size: 1.4rem;
}

.bookmark__icon {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-line: none;
  border-style: none;
  background-color: transparent;
  color: #3a61be;
}

.bookmark__icon :hover {
  cursor: pointer;
  width: 3.5rem;
}

.background-img__position {
  z-index: -1;
  position: relative;
  bottom: 5rem;
}
