.join-header {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  margin-top: 3.5rem;
}

.join-contents {
  height: 80rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4.4rem;
}

.join__title {
  display: block;
  height: 6rem;
  padding-top: 1.2rem;
  font-size: 1.6rem;
}

.join-form {
  margin-top: 3rem;
  height: 100%;
}

.join-form__empty-space {
  width: 100%;
  height: 4rem;
}
.bottom-empty {
  height: 100%;
}

.background-img__position {
  z-index: -1;
  position: relative;
  bottom: 2rem;
}
