.main-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
}

.main-footer div:first-child {
  padding-left: 0.3rem;
  padding-bottom: 0.2rem;
}

.main-footer div:last-child {
  padding-right: 0.3rem;
  padding-bottom: 0.2rem;
}
