.search {
  display: flex;
  height: 2.4rem;
  width: 100%;
  justify-content: space-between;
  margin-top: 0.8rem;
  align-items: center;
}

.search__form {
  display: flex;
  height: 100%;
  background-color: white;
  border-radius: 0.4rem;
}

#search__form__input {
  width: 13rem;
  border-style: none;
  background-color: transparent;
  text-align: center;
}

#search__form__submit {
  border-style: none;
  background-color: transparent;
}
