.weader {
  height: 11.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.weader__title {
  height: 1.4rem;
  width: auto;
  margin: 0.5rem 0 0.6rem 0.6rem;
  font-size: 1.4rem;
}

.weader__area {
  height: 100%;
  width: 100%;
  padding: 0.4rem 0.1rem 0.4rem 0.1rem;
  background-color: #59abe6;
  display: flex;
  justify-content: space-between;
}

.weader__info {
  height: 100%;
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weader__date,
.weader__temp,
.weader__tide {
  font-size: 1.3rem;
  color: white;
}

.weader__icon {
  font-size: 2.4rem;
}

.weader__every-hour {
  height: 100%;
  width: 6.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
