.login-header {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  margin-top: 3.5rem;
}

.login-contents {
  height: 80rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4.4rem;
}

.login-form {
  margin-top: 4.7rem;
}

.password-reset-btn {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: flex-end;
  padding-top: 0.8rem;
  box-sizing: border-box;
}

.password-reset-btn:nth-child(2) {
  margin-top: 1rem;
}

.password-reset-btn button {
  height: 2rem;
  width: 9.5rem;
  font-size: 1.4rem;
  border-style: none;
  background-color: transparent;
  color: #635c5c;
}
.login-social__btn button:hover,
.password-reset-btn button:hover {
  cursor: pointer;
}

.login-social {
  height: 10rem;
  width: 12rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 2rem;
  position: relative;
}

.login-social__title {
  width: 100%;
  height: 2.5rem;
  font-size: 1.8rem;
  color: #555252;
}

.login-social__btn {
  height: 100%;
  width: 6rem;
  margin-top: 1.5rem;
}

.login-social__btn button {
  border-style: none;
  background-color: transparent;
}

.bottom-empty {
  height: 100%;
}

.background-img__position {
  z-index: -1;
  position: relative;
  bottom: 1rem;
}
