.map-header {
  height: 100%;
  width: 100%;
  padding: 0.5rem 1rem 0 1rem;
}

.map__background {
  height: 100%;
  width: 100%;
}

.location-form {
  height: 100%;
  width: 8rem;
}

.location__filter {
  background-color: transparent;
  font-size: 1.7rem;
  border-style: none;
  outline: none;
  text-align: center;
}

.map-contents {
  position: absolute;
  width: 100%;
  padding: 1.5rem 2rem 0 2rem;
  display: flex;
}

.location-form {
  padding-top: 0.2rem;
}
